@import '~@vuepress/theme-default/styles/index'

body
#app 
{
  color:#EBC79E !important;

}
.home-blog {
    background: url("/vue-press-tuzi/avtive.jpg") center center / cover no-repeat !important;
}

.navbar {
  transition:transfrom .3 ease-in-out;
  transfrom:translateY(0);
   background: rgba(0, 0, 0, 0.0) !important;
   border:0;
   
}
.hidden{
  transform: translateY(-100%);
}
.hero{
  margin:0 !important
} 

.info-wrapper,.category-wrapper,.category-item,.links,.blog-list,.abstract-item{
  font-weight:bolder !important;
  background: rgba(0, 0, 0, 0.0) !important;
}

.footer-wrapper{
  display:none;
}

