@import '~@vuepress/theme-default/styles/index'

body
#app 
{
  color:#EBC79E !important;
}

.navbar {
  transition:transfrom .3 ease-in-out;
  transfrom:translateY(0);
   background: rgba(0, 0, 0, 0.0) !important;
   border:0;
   
}
.hidden{
  transform: translateY(-100%);
}
.hero{
  background: url("/avtive.jpg") center center / cover no-repeat !important;
  margin:0 !important
} 
.links{
  transfrom:translateY(0);
  background: rgba(0, 0, 0, 0.0) !important;
}

